Repository tokio-rs/axum, pull requests merged in 2021-12, with the labels that each got.

#574 Provide more data in `Path` deserialization error
  axum/CHANGELOG.md
  axum/src/extract/mod.rs
  axum/src/extract/path/de.rs
  axum/src/extract/path/mod.rs
  axum/src/extract/rejection.rs
  axum/src/util.rs
  examples/customize-path-rejection/Cargo.toml
  examples/customize-path-rejection/src/main.rs
Labels: C-enhancement

#582 Release axum, axum-core, and axum-extra
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-debug/Cargo.toml
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#586 axum-debug 0.3
  axum-debug/CHANGELOG.md
  axum-debug/Cargo.toml
Labels: T-release

#588 Fix `debug_handler` for `Result<impl IntoResponse, Error>` and friends
  axum-debug/CHANGELOG.md
  axum-debug/src/lib.rs
  axum-debug/tests/pass/result_impl_into_response.rs
Labels: A-axum-debug

#591 Release axum, axum-core, and axum-debug
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-core/src/response/mod.rs
  axum-debug/CHANGELOG.md
  axum-debug/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#592 axum: Version 0.4.2
  axum-core/CHANGELOG.md
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#595 Support customizing the request body type in `#[debug_handler]`
  axum-debug/CHANGELOG.md
  axum-debug/src/lib.rs
  axum-debug/tests/fail/attrs.stderr
  axum-debug/tests/fail/invalid_attrs.rs
  axum-debug/tests/fail/invalid_attrs.stderr
  axum-debug/tests/pass/different_request_body_type.rs
  axum-debug/tests/pass/returns_self.rs
Labels: A-axum-debug

#598 axum-debug: Version 0.3.2
  axum-debug/CHANGELOG.md
  axum-debug/Cargo.toml
Labels: T-release

#621 Example for defining routes and handlers close together
  examples/routes-and-handlers-close-together/Cargo.toml
  examples/routes-and-handlers-close-together/src/main.rs
Labels: T-docs

#642 Replace public use of `mime` crate with `&str`
  axum/Cargo.toml
  axum/src/extract/multipart.rs
  axum/src/test_helpers.rs
  examples/multipart-form/src/main.rs
Labels: C-enhancement, breaking change, A-axum

#639 Change error type for `RequestParts::try_into_request`
  axum-core/src/error.rs
  axum-core/src/extract/mod.rs
  axum-core/src/extract/request_parts.rs
Labels: breaking change

#646 Require `Output = ()` on `WebSocketStream::on_upgrade`
  axum/CHANGELOG.md
  axum/src/extract/ws.rs
Labels: C-enhancement, breaking change, A-axum

#650 axum: Version 0.4.3
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#656 Add `middleware::from_fn` for creating middleware from async fns
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/lib.rs
  axum-extra/src/middleware/middleware_fn.rs
  axum-extra/src/middleware/mod.rs
  examples/print-request-response/Cargo.toml
  examples/print-request-response/src/main.rs
Labels: C-enhancement, A-axum-extra

#658 axum-extra: Version 0.1.1
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra

#665 Make `TypedHeaderRejectionReason` `#[non_exhaustive]`
  axum/CHANGELOG.md
  axum/src/extract/typed_header.rs
Labels: C-cleanup, breaking change, A-axum

#666 Tweak tower dependency in axum-extra
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: C-cleanup, A-axum-extra

#670 Mention `middleware::from_fn` in axum’s docs
  axum/src/docs/middleware.md
Labels: T-docs, A-axum

#668 Improve middleware examples using auth
  axum-extra/src/middleware/middleware_fn.rs
  axum/src/extract/extractor_middleware.rs
Labels: T-docs, A-axum, A-axum-extra

#669 Document how to pass state to `middleware::from_fn`
  axum-extra/src/middleware/middleware_fn.rs
Labels: T-docs, A-axum-extra

#671 Add metrics example
  .github/workflows/CI.yml
  examples/prometheus-metrics/Cargo.toml
  examples/prometheus-metrics/src/main.rs
Labels: T-docs

#679 Document calling extractors in FromRequest impl
  axum/src/docs/extract.md
Labels: T-docs, A-axum
