Repository tokio-rs/axum, pull requests merged in 2022-07, with the labels that each got.

#1139 axum-extra: Version 0.3.6
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra

#1140 Document how to run extractors from middleware
  axum/src/docs/extract.md
Labels: T-docs, A-axum

#1141 axum: Version 0.5.11
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1144 Re-export `debug_handler` from axum
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/lib.rs
Labels: A-axum

#1147 Fix typos in RequestParts docstrings
  axum-core/src/extract/mod.rs
Labels: T-docs, A-axum-core

#1153 Don't derive debug impl for `Resource`
  axum-extra/src/routing/resource.rs
Labels: A-axum-extra

#1135 Return rejection if `WebSocket` request couldn't be upgraded
  axum/CHANGELOG.md
  axum/src/extract/ws.rs
Labels: A-axum

#1152 Support any middleware response that implements `IntoResponse`
  axum/CHANGELOG.md
  axum/src/handler/mod.rs
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum

#1164 axum: Version 0.5.13
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1165 Accept `S::Response: IntoResponse` everywhere
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/mod.rs
  axum-extra/src/routing/resource.rs
  axum-extra/src/routing/spa.rs
  axum/CHANGELOG.md
  axum/src/error_handling/mod.rs
  axum/src/middleware/from_extractor.rs
  axum/src/middleware/from_fn.rs
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  axum/src/routing/route.rs
Labels: A-axum, A-axum-extra

#1193 axum: Version 0.5.14
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1194 Add missing `cfg` to `axum_extra::extract::Form`
  axum-extra/src/extract/form.rs
Labels: A-axum-extra

#1196 Create BytesMut for Json with initial capacity
  axum/src/json.rs
Labels: A-axum
