Repository tokio-rs/axum, pull requests merged in 2022-05, with the labels that each got.

#984 axum-core: Version 0.2.4
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum/Cargo.toml
Labels: T-release

#989 Handle `GET`, `HEAD`, and `OPTIONS` correctly in `ContentLengthLimit`
  axum/CHANGELOG.md
  axum/src/extract/content_length_limit.rs
  axum/src/extract/rejection.rs
Labels: A-axum

#1001 Support `Option` and `Result` in typed paths
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/typed.rs
  axum-macros/CHANGELOG.md
  axum-macros/tests/typed_path/pass/option_result.rs
Labels: A-axum-macros, A-axum-extra

#1004 Refactor `#[derive(FromRequest)]` to make illegal state unrepresentable
  axum-macros/src/from_request.rs
  axum-macros/src/from_request/attr.rs
Labels: C-cleanup, A-axum-macros

#1010 Add `MethodRouter::{into_make_service, into_make_service_with_connect_info}`
  axum/CHANGELOG.md
  axum/src/routing/method_routing.rs
Labels: A-axum

#1009 Support `#[derive(FromRequest)]` on enums
  axum-macros/CHANGELOG.md
  axum-macros/src/from_request.rs
  axum-macros/src/from_request/attr.rs
  axum-macros/tests/from_request/fail/enum_from_request_ident_in_variant.rs
  axum-macros/tests/from_request/fail/enum_from_request_ident_in_variant.stderr
  axum-macros/tests/from_request/fail/enum_from_request_on_variant.rs
  axum-macros/tests/from_request/fail/enum_from_request_on_variant.stderr
  axum-macros/tests/from_request/fail/enum_no_via.rs
  axum-macros/tests/from_request/fail/enum_no_via.stderr
  axum-macros/tests/from_request/fail/enum_rejection_derive.rs
  axum-macros/tests/from_request/fail/enum_rejection_derive.stderr
  axum-macros/tests/from_request/fail/not_enum_or_struct.rs
  axum-macros/tests/from_request/fail/not_enum_or_struct.stderr
  axum-macros/tests/from_request/pass/enum_via.rs
Labels: A-axum-macros

#1013 Make docs around extracting `Request` more explicit
  axum/src/docs/extract.md
Labels: T-docs, A-axum

#1014 axum: Version 0.5.5
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1015 axum-macros: Version 0.2.1
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
Labels: T-release, A-axum-macros

#1016 axum-extra: Version 0.3.1
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra

#1023 Improve `Path` error when its extracted multiple times
  axum/CHANGELOG.md
  axum/src/extract/path/mod.rs
Labels: A-axum

#1024 Document "debugging handler type errors" on `Handler`
  axum/src/docs/debugging_handler_type_errors.md
  axum/src/handler/mod.rs
Labels: T-docs

#1031 Add `axum_extra::extract::Form`
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/extract/form.rs
  axum-extra/src/extract/mod.rs
  axum/CHANGELOG.md
  axum/src/extract/form.rs
  axum/src/extract/mod.rs
  axum/src/extract/query.rs
  axum/src/extract/rejection.rs
  deny.toml
Labels: A-axum, A-axum-extra

#1034 axum-extra: 0.3.2
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra

#1033 axum: Version 0.5.6
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1035 Check `Request` and `Path` in `debug_handler`
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum-macros/src/debug_handler.rs
  axum-macros/src/lib.rs
  axum-macros/tests/debug_handler/fail/multiple_paths.rs
  axum-macros/tests/debug_handler/fail/multiple_paths.stderr
  axum-macros/tests/debug_handler/fail/request_not_last.rs
  axum-macros/tests/debug_handler/fail/request_not_last.stderr
  axum-macros/tests/debug_handler/pass/request_last.rs
Labels: A-axum-macros

#1036 Check for multiple body extractors in `debug_handler`
  axum-macros/CHANGELOG.md
  axum-macros/src/debug_handler.rs
  axum-macros/tests/debug_handler/fail/multiple_body_extractors.rs
  axum-macros/tests/debug_handler/fail/multiple_body_extractors.stderr
  axum-macros/tests/debug_handler/fail/too_many_extractors.rs
  axum-macros/tests/debug_handler/fail/too_many_extractors.stderr
  axum-macros/tests/debug_handler/pass/multiple_extractors.rs
Labels: A-axum-macros

#1012 Support customizing rejections for `#[derive(TypedPath)]`
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/typed.rs
  axum-macros/CHANGELOG.md
  axum-macros/src/typed_path.rs
  axum-macros/tests/typed_path/pass/customize_rejection.rs
Labels: A-axum-macros, A-axum-extra

#1042 axum-extra: 0.3.3
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra

#1049 Use `impl IntoResponse` less in docs
  axum-core/src/response/into_response_parts.rs
  axum-extra/src/extract/cookie/mod.rs
  axum-extra/src/extract/cookie/private.rs
  axum-extra/src/extract/cookie/signed.rs
  axum-extra/src/response/erased_json.rs
  axum/src/body/stream_body.rs
  axum/src/docs/extract.md
  axum/src/docs/method_routing/fallback.md
  axum/src/docs/middleware.md
  axum/src/docs/response.md
  axum/src/docs/routing/fallback.md
  axum/src/extension.rs
  axum/src/extract/ws.rs
  axum/src/handler/mod.rs
  axum/src/middleware/from_fn.rs
  axum/src/routing/method_routing.rs
  axum/src/typed_header.rs
Labels: T-docs, A-axum, A-axum-extra, A-axum-core

#1059 Support `Path<Vec<(String, String)>>`
  axum/CHANGELOG.md
  axum/src/extract/path/de.rs
  axum/src/extract/path/mod.rs
  axum/src/util.rs
Labels: A-axum
