Repository tokio-rs/axum, pull requests merged in 2022-09, with the labels that each got.

#1346 Limit size of request bodies in `Bytes` extractor
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-core/src/extract/default_body_limit.rs
  axum-core/src/extract/mod.rs
  axum-core/src/extract/request_parts.rs
  axum/CHANGELOG.md
  axum/src/docs/extract.md
  axum/src/extract/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum, A-axum-core

#1362 backport: Limit size of request bodies in `Bytes` extractor (#1346)
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-core/src/extract/default_body_limit.rs
  axum-core/src/extract/mod.rs
  axum-core/src/extract/request_parts.rs
  axum-macros/src/debug_handler.rs
  axum-macros/tests/debug_handler/fail/generics.rs
  axum-macros/tests/debug_handler/fail/generics.stderr
  axum/CHANGELOG.md
  axum/src/docs/extract.md
  axum/src/extract/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum, A-axum-core

#1363 Ship rc.2
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-core/src/extract/default_body_limit.rs
  axum-core/src/extract/mod.rs
  axum-extra/Cargo.toml
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-extra, A-axum-core

#1369 Refactor proc-macro attribute parsing
  axum-macros/src/attr_parsing.rs
  axum-macros/src/from_request.rs
  axum-macros/src/from_request/attr.rs
  axum-macros/src/lib.rs
  axum-macros/tests/from_request/fail/override_rejection_on_enum_without_via.stderr
Labels: A-axum-macros

#1372 Port other proc-macros to new attribute parsing
  axum-macros/src/attr_parsing.rs
  axum-macros/src/debug_handler.rs
  axum-macros/src/typed_path.rs
Labels: A-axum-macros

#1387 Use `400 Bad Request` for `FailedToDeserializeQueryString` rejections
  axum/CHANGELOG.md
  axum/src/extract/query.rs
  axum/src/extract/rejection.rs
Labels: A-axum

#1389 Support streaming/chunked requests in `ContentLengthLimit`
  axum/CHANGELOG.md
  axum/src/extract/content_length_limit.rs
Labels: A-axum

#1388 Clarify `Clone` requirements for using `State`
  axum/src/extract/state.rs
Labels: T-docs, A-axum

#1397 Add `DefaultBodyLimit::max` to change the body size limit
  axum-core/CHANGELOG.md
  axum-core/src/extract/default_body_limit.rs
  axum-core/src/extract/request_parts.rs
  axum/CHANGELOG.md
  axum/src/routing/tests/mod.rs
Labels: A-axum-core

#1396 Add `middleware::from_extractor_with_state`
  axum/CHANGELOG.md
  axum/src/middleware/from_extractor.rs
  axum/src/middleware/mod.rs
Labels: A-axum

#1391 Support `State` with `#[derive(FromRequest[Parts])]`
  axum-macros/Cargo.toml
  axum-macros/src/debug_handler.rs
  axum-macros/src/from_request.rs
  axum-macros/src/from_request/attr.rs
  axum-macros/src/lib.rs
  axum-macros/tests/from_request/fail/state_infer_multiple_different_types.rs
  axum-macros/tests/from_request/fail/state_infer_multiple_different_types.stderr
  axum-macros/tests/from_request/fail/unknown_attr_container.stderr
  axum-macros/tests/from_request/pass/state_cookie.rs
  axum-macros/tests/from_request/pass/state_enum_via.rs
  axum-macros/tests/from_request/pass/state_enum_via_parts.rs
  axum-macros/tests/from_request/pass/state_explicit.rs
  axum-macros/tests/from_request/pass/state_explicit_parts.rs
  axum-macros/tests/from_request/pass/state_field_explicit.rs
  axum-macros/tests/from_request/pass/state_field_infer.rs
  axum-macros/tests/from_request/pass/state_infer.rs
  axum-macros/tests/from_request/pass/state_infer_multiple.rs
  axum-macros/tests/from_request/pass/state_infer_parts.rs
  axum-macros/tests/from_request/pass/state_via.rs
  axum-macros/tests/from_request/pass/state_via_infer.rs
  axum-macros/tests/from_request/pass/state_via_parts.rs
  axum-macros/tests/from_request/pass/state_with_rejection.rs
Labels: A-axum-macros

#1413 Refactor `all_the_tuples!` macros
  axum-core/src/extract/tuple.rs
  axum-core/src/macros.rs
  axum-core/src/response/into_response.rs
  axum-core/src/response/into_response_parts.rs
  axum/src/error_handling/mod.rs
  axum/src/handler/mod.rs
  axum/src/macros.rs
  axum/src/middleware/from_fn.rs
  axum/src/middleware/map_request.rs
Labels: C-cleanup, A-axum, A-axum-core

#1414 Add `map_response` and friends
  axum/CHANGELOG.md
  axum/src/middleware/map_response.rs
  axum/src/middleware/mod.rs
Labels: A-axum

#1382 Add tokio feature & make tokio optional for WASM support
  .github/workflows/CI.yml
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/ext_traits/service.rs
  axum/src/extract/mod.rs
  axum/src/extract/ws.rs
  axum/src/handler/mod.rs
  axum/src/handler/with_state.rs
  axum/src/lib.rs
  axum/src/response/mod.rs
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  examples/simple-router-wasm/Cargo.toml
  examples/simple-router-wasm/src/main.rs
Labels: A-axum

#1420 Add RequestExt::{with_limited_body, into_limited_body}
  axum-core/src/ext_traits/mod.rs
  axum-core/src/ext_traits/request.rs
  axum-core/src/ext_traits/request_parts.rs
  axum-core/src/extract/mod.rs
  axum-core/src/extract/request_parts.rs
  axum-core/src/lib.rs
  axum/CHANGELOG.md
  axum/src/extract/multipart.rs
  axum/src/lib.rs
  axum/src/service_ext.rs
Labels: C-enhancement, A-axum, A-axum-core
