Repository tokio-rs/axum, pull requests merged in 2022-03, with the labels that each got.

#804 Move `Extension` into root
  axum/src/extension.rs
  axum/src/extract/mod.rs
  axum/src/lib.rs
  axum/src/response/mod.rs
Labels: A-axum

#805 Backport impl `tower::Layer` for `Extension`
  axum/CHANGELOG.md
  axum/src/add_extension.rs
  axum/src/extract/connect_info.rs
  axum/src/extract/extension.rs
  axum/src/extract/request_parts.rs
  axum/src/lib.rs
  axum/src/middleware/from_fn.rs
  examples/async-graphql/src/main.rs
  examples/chat/src/main.rs
  examples/error-handling-and-dependency-injection/src/main.rs
  examples/key-value-store/src/main.rs
  examples/oauth/src/main.rs
  examples/reverse-proxy/src/main.rs
  examples/sessions/src/main.rs
  examples/todos/src/main.rs
  examples/tokio-postgres/src/main.rs
Labels: A-axum

#807 Remove `AddExtensionLayer`
  axum/CHANGELOG.md
  axum/src/add_extension.rs
  axum/src/docs/extract.md
  axum/src/docs/middleware.md
  axum/src/lib.rs
Labels: A-axum

#808 axum: Version 0.4.7
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#809 Backport `TypedPath::to_uri`
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/typed.rs
  axum-macros/src/typed_path.rs
  axum-macros/tests/typed_path/pass/into_uri.rs
  axum-macros/tests/typed_path/pass/tuple_struct.rs
Labels: A-axum-macros, A-axum-extra

#811 Export `AddExtension` from `middleware`
  axum/CHANGELOG.md
  axum/src/add_extension.rs
  axum/src/extension.rs
  axum/src/extract/connect_info.rs
  axum/src/lib.rs
  axum/src/middleware/mod.rs
Labels: A-axum

#803 Move `TypedHeader` into root
  axum/src/extract/mod.rs
  axum/src/extract/rejection.rs
  axum/src/lib.rs
  axum/src/response/mod.rs
  axum/src/typed_header.rs
Labels: A-axum

#813 Make `IntoResponseParts` more flexible
  axum-core/src/response/into_response.rs
  axum-core/src/response/into_response_parts.rs
  axum-core/src/response/mod.rs
  axum/src/extension.rs
  axum/src/typed_header.rs
Labels: A-axum

#815 Remove `IntoResponse` and `IntoResponseParts` impls for `Version`
  axum-core/src/response/into_response.rs
  axum/src/docs/response.md
Labels: A-axum-core

#817 Implement `IntoResponseParts` for tuples
  axum-core/src/response/into_response_parts.rs
Labels: A-axum-core

#819 Move `HasRoutes` into axum
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/mod.rs
  axum-extra/src/routing/resource.rs
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
Labels: A-axum

#823 Requires paths start with a `/`
  axum-macros/CHANGELOG.md
  axum-macros/src/typed_path.rs
  axum-macros/tests/typed_path/fail/route_not_starting_with_slash.rs
  axum-macros/tests/typed_path/fail/route_not_starting_with_slash.stderr
  axum-macros/tests/typed_path/fail/route_not_starting_with_slash_non_empty.rs
  axum-macros/tests/typed_path/fail/route_not_starting_with_slash_non_empty.stderr
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum, A-axum-macros

#824 Fix inconsistent double slash when nesting routes
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
  axum/src/routing/tests/nest.rs
Labels: A-axum

#825 Add example for implementing `IntoResponseParts`
  axum-core/src/response/into_response_parts.rs
Labels: A-axum-core

#816 Add cookie management to axum-extra
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/extract/cookie.rs
  axum-extra/src/extract/mod.rs
Labels: A-axum-extra

#833 Refactor storing URL params in extensions
  axum/src/extract/path/mod.rs
  axum/src/routing/mod.rs
  axum/src/routing/url_params.rs
Labels: A-axum

#836 Make it more obvious that `NEST_TAIL_PARAM` is reserved
  axum/src/routing/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum

#838 Implement `IntoResponseParts` for `Option<T>`
  axum-core/src/response/into_response_parts.rs
Labels: A-axum-core

#837 Use `IntoResponse` rather than `Response::builder` internally
  axum/src/error_handling/mod.rs
  axum/src/routing/not_found.rs
  axum/src/routing/tests/get_to_head.rs
Labels: C-cleanup, A-axum

#841 Fix nesting of opaque services that paths that contain params
  Cargo.toml
  axum/Cargo.toml
  axum/src/routing/strip_prefix.rs
  axum/src/routing/tests/nest.rs
Labels: A-axum

#839 Add security note about `extract::Host`
  axum/src/extract/host.rs
Labels: T-docs, A-axum

#844 Don't set extension we never use
  axum/src/body/mod.rs
  axum/src/routing/mod.rs
Labels: C-cleanup, A-axum

#845 Add missing changelog items
  axum-core/CHANGELOG.md
  axum/CHANGELOG.md
Labels: A-axum, A-axum-core

#861 Add example for consuming request body in middleware and extractor
  examples/consume-body-in-extractor-or-middleware/Cargo.toml
  examples/consume-body-in-extractor-or-middleware/src/main.rs
Labels: T-docs

#868 Make status codes for `JsonRejection` more precise
  axum/CHANGELOG.md
  axum/src/docs/extract.md
  axum/src/extract/rejection.rs
  axum/src/json.rs
  examples/customize-extractor-error/src/main.rs
Labels: A-axum

#871 Fix out of date docs for `Json`
  axum/src/json.rs
Labels: T-docs, A-axum

#878 Unseal `Handler` trait
  axum/src/handler/mod.rs
Labels: A-axum

#879 Change `Handler` to have an associated `Future` type
  axum/CHANGELOG.md
  axum/src/handler/future.rs
  axum/src/handler/into_service.rs
  axum/src/handler/mod.rs
Labels: A-axum

#889 Accept &str for Redirect
  axum-extra/src/extract/cookie.rs
  axum/CHANGELOG.md
  axum/src/response/redirect.rs
  axum/src/routing/mod.rs
  examples/oauth/src/main.rs
Labels: A-axum

#892 Remove bound from `into_make_service_with_connect_info`
  axum/CHANGELOG.md
  axum/src/docs/routing/into_make_service_with_connect_info.md
  axum/src/extract/connect_info.rs
  axum/src/handler/mod.rs
  axum/src/routing/mod.rs
  examples/low-level-rustls/src/main.rs
  examples/unix-domain-socket/src/main.rs
Labels: A-axum

#894 axum-core: Version 0.2.0
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum/Cargo.toml
Labels: T-release, A-axum-core
