Repository tokio-rs/axum, pull requests merged in 2022-08, with the labels that each got.

#1233 Fix accidental breaking change to `FailedToDeserializeQueryString`
  axum-extra/src/extract/form.rs
  axum-extra/src/extract/query.rs
  axum/src/extract/query.rs
  axum/src/extract/rejection.rs
  axum/src/form.rs
Labels: A-axum, A-axum-extra

#1235 axum: Version 0.5.15
  axum-extra/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1236 axum-extra: Version 0.3.7
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra

#1170 Support chaining handlers with `one.or(two).or(three)`
  axum-extra/CHANGELOG.md
  axum-extra/src/handler/mod.rs
  axum-extra/src/handler/or.rs
  axum-extra/src/lib.rs
Labels: A-axum-extra

#1241 Add "Ordering" link to middleware table of contents
  axum/src/docs/middleware.md
Labels: T-docs, A-axum

#1242 Document browsers ignoring SSE events without data fields
  axum/src/response/sse.rs
Labels: T-docs, A-axum

#1086 Update matchit and fix nesting inconsistencies
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/resource.rs
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/docs/routing/nest.md
  axum/src/docs/routing/route.md
  axum/src/extract/matched_path.rs
  axum/src/extract/path/mod.rs
  axum/src/routing/mod.rs
  axum/src/routing/tests/merge.rs
  axum/src/routing/tests/mod.rs
  axum/src/routing/tests/nest.rs
Labels: A-axum, A-axum-extra

#1248 Annotate panicking functions with `#[track_caller]`
  axum/CHANGELOG.md
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
Labels: A-axum

#1251 Avoid unhelpful compiler suggestion
  axum-macros/src/debug_handler.rs
  axum-macros/tests/debug_handler/fail/generics.rs
  axum-macros/tests/debug_handler/fail/generics.stderr
Labels: A-axum-macros

#1256 Support using a different rejection for `#[derive(FromRequest)]`
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum-macros/src/from_request.rs
  axum-macros/src/from_request/attr.rs
  axum-macros/src/lib.rs
  axum-macros/tests/from_request/fail/generic.stderr
  axum-macros/tests/from_request/fail/generic_without_via.rs
  axum-macros/tests/from_request/fail/generic_without_via.stderr
  axum-macros/tests/from_request/fail/generic_without_via_rejection.rs
  axum-macros/tests/from_request/fail/generic_without_via_rejection.stderr
  axum-macros/tests/from_request/fail/generic_without_via_rejection_derive.rs
  axum-macros/tests/from_request/fail/generic_without_via_rejection_derive.stderr
  axum-macros/tests/from_request/fail/override_rejection_on_enum_without_via.rs
  axum-macros/tests/from_request/fail/override_rejection_on_enum_without_via.stderr
  axum-macros/tests/from_request/fail/unknown_attr_container.stderr
  axum-macros/tests/from_request/pass/override_rejection.rs
  axum-macros/tests/from_request/pass/override_rejection_with_via_on_enum.rs
  axum-macros/tests/from_request/pass/override_rejection_with_via_on_struct.rs
Labels: A-axum-macros

#1264 Add sync constructors to `CookieJar`, `SignedCookieJar`, and `PrivateCookieJar`
  axum-extra/CHANGELOG.md
  axum-extra/src/extract/cookie/mod.rs
  axum-extra/src/extract/cookie/private.rs
  axum-extra/src/extract/cookie/signed.rs
Labels: A-axum-extra

#1263 Add `Either{2..8}` to axum-extra
  axum-extra/CHANGELOG.md
  axum-extra/src/either.rs
  axum-extra/src/handler/or.rs
  axum-extra/src/lib.rs
Labels: A-axum-extra

#1266 Make `WithRejection::into_inner` public
  axum-extra/src/extract/with_rejection.rs
Labels: A-axum-extra

#1270 Always store state in an `Arc`
  axum-core/src/extract/mod.rs
  axum-core/src/extract/request_parts.rs
  axum-core/src/extract/tuple.rs
  axum-extra/src/either.rs
  axum-extra/src/extract/cached.rs
  axum-extra/src/extract/cookie/mod.rs
  axum-extra/src/extract/cookie/private.rs
  axum-extra/src/extract/cookie/signed.rs
  axum-extra/src/extract/form.rs
  axum-extra/src/extract/query.rs
  axum-extra/src/extract/with_rejection.rs
  axum-extra/src/handler/mod.rs
  axum-extra/src/handler/or.rs
  axum-extra/src/json_lines.rs
  axum-extra/src/protobuf.rs
  axum-extra/src/routing/mod.rs
  axum-extra/src/routing/resource.rs
  axum-macros/src/from_request.rs
  axum-macros/src/lib.rs
  axum-macros/src/typed_path.rs
  axum-macros/tests/debug_handler/fail/extract_self_mut.rs
  axum-macros/tests/debug_handler/fail/extract_self_ref.rs
  axum-macros/tests/debug_handler/pass/result_impl_into_response.rs
  axum-macros/tests/debug_handler/pass/self_receiver.rs
  axum-macros/tests/from_request/pass/derive_opt_out.rs
  axum-macros/tests/from_request/pass/override_rejection.rs
  axum/benches/benches.rs
  axum/src/docs/extract.md
  axum/src/extension.rs
  axum/src/extract/connect_info.rs
  axum/src/extract/content_length_limit.rs
  axum/src/extract/host.rs
  axum/src/extract/matched_path.rs
  axum/src/extract/multipart.rs
  axum/src/extract/path/mod.rs
  axum/src/extract/query.rs
  axum/src/extract/raw_query.rs
  axum/src/extract/request_parts.rs
  axum/src/extract/state.rs
  axum/src/extract/ws.rs
  axum/src/form.rs
  axum/src/handler/into_service.rs
  axum/src/handler/into_service_state_in_extension.rs
  axum/src/handler/mod.rs
  axum/src/handler/with_state.rs
  axum/src/json.rs
  axum/src/middleware/from_extractor.rs
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  axum/src/typed_header.rs
  examples/consume-body-in-extractor-or-middleware/src/main.rs
  examples/customize-extractor-error/src/main.rs
  examples/customize-path-rejection/src/main.rs
  examples/jwt/src/main.rs
  examples/validator/src/main.rs
  examples/versioning/src/main.rs
Labels: A-axum

#1271 Support changing state type in `#[debug_handler]`
  axum-macros/Cargo.toml
  axum-macros/src/debug_handler.rs
  axum-macros/src/lib.rs
  axum-macros/tests/debug_handler/fail/duplicate_args.rs
  axum-macros/tests/debug_handler/fail/duplicate_args.stderr
  axum-macros/tests/debug_handler/fail/invalid_attrs.stderr
  axum-macros/tests/debug_handler/pass/infer_state.rs
  axum-macros/tests/debug_handler/pass/set_state.rs
  axum-macros/tests/debug_handler/pass/state_and_body.rs
Labels: A-axum-macros

#1280 Add `#[non_exhaustive]` to `ProtoBufRejection`
  axum-extra/src/protobuf.rs
Labels: A-axum-extra

#1274 Re-organize changelog to make updating to 0.6 easier
  axum-core/CHANGELOG.md
  axum-extra/CHANGELOG.md
  axum/CHANGELOG.md
Labels: A-axum

#1299 Generate correct bound for non-last extractor in `#[debug_handler]`
  axum-macros/src/debug_handler.rs
  axum-macros/src/from_request.rs
  axum-macros/src/lib.rs
  axum-macros/src/typed_path.rs
  axum-macros/src/with_position.rs
  axum-macros/tests/debug_handler/fail/argument_not_extractor.stderr
  axum-macros/tests/debug_handler/fail/doesnt_implement_from_request_parts.rs
  axum-macros/tests/debug_handler/fail/doesnt_implement_from_request_parts.stderr
  axum-macros/tests/debug_handler/pass/result_impl_into_response.rs
Labels: A-axum-macros

#1301 Add `RequestExt` and `RequestPartsExt`
  axum/CHANGELOG.md
  axum/src/ext_traits/mod.rs
  axum/src/ext_traits/request.rs
  axum/src/ext_traits/request_parts.rs
  axum/src/lib.rs
Labels: A-axum

#1302 Support turning any `Service` into a `MakeService`
  axum/CHANGELOG.md
  axum/src/docs/middleware.md
  axum/src/docs/routing/layer.md
  axum/src/ext_traits/mod.rs
  axum/src/ext_traits/service.rs
  axum/src/lib.rs
Labels: A-axum

#1306 Show path in panic message when merging overlapping `MethodRouter`s
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum

#1307 Tweak `layer` and `route_layer` docs
  axum/src/docs/method_routing/layer.md
  axum/src/docs/method_routing/route_layer.md
  axum/src/docs/routing/layer.md
  axum/src/docs/routing/route_layer.md
Labels: T-docs, A-axum

#1310 Bump version of all crates
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-extra, A-axum-core

#1311 Mention `FromRef`, not `From`, in `State` docs
  axum/src/extract/state.rs
Labels: T-docs, A-axum

#1328 Update out of date `Router::nest` docs
  axum/src/docs/routing/nest.md
Labels: T-docs, A-axum

#1329 Clarify `Clone` requirements even if using `Router::with_state_arc`
  axum/src/routing/mod.rs
Labels: T-docs, A-axum

#1324 [doc] Added notes about extractor precedence
  axum/src/extract/content_length_limit.rs
  axum/src/extract/multipart.rs
  axum/src/extract/request_parts.rs
  axum/src/extract/state.rs
  axum/src/form.rs
  axum/src/json.rs
Labels: T-docs, A-axum

#1336 Improve opaque error message for `Handler::layer`
  axum/src/handler/mod.rs
Labels: A-axum

#1342 Add `middleware::{from_fn_with_state, from_fn_with_state_arc}`
  axum/CHANGELOG.md
  axum/src/docs/middleware.md
  axum/src/middleware/from_fn.rs
  axum/src/middleware/mod.rs
Labels: A-axum
