Repository tokio-rs/axum, pull requests merged in 2022-11, with the labels that each got.

#1496 Rework `Form` and `Query` rejections
  axum-extra/src/extract/form.rs
  axum-extra/src/extract/mod.rs
  axum-extra/src/extract/query.rs
  axum-macros/tests/debug_handler/fail/wrong_return_type.stderr
  axum/CHANGELOG.md
  axum/src/extract/query.rs
  axum/src/extract/rejection.rs
  axum/src/form.rs
Labels: A-axum

#1462 Don't allow extracting `MatchedPath` in middleware for nested routes
  axum/CHANGELOG.md
  axum/src/extract/matched_path.rs
  axum/src/extract/mod.rs
  axum/src/routing/mod.rs
  axum/src/routing/service.rs
Labels: A-axum

#1514 New release candidates
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#1518 axum 0.6.0-rc.4
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1536 Fix `Handler::with_state` not working if request body was changed via layer
  axum-macros/tests/from_request/fail/generic_without_via.stderr
  axum-macros/tests/from_request/fail/generic_without_via_rejection.stderr
  axum-macros/tests/from_request/fail/override_rejection_on_enum_without_via.stderr
  axum/Cargo.toml
  axum/src/handler/mod.rs
  examples/key-value-store/Cargo.toml
  examples/key-value-store/src/main.rs
Labels: A-axum

#1521 Add fallback inheritance for nested routers
  axum/CHANGELOG.md
  axum/src/docs/routing/nest.md
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  axum/src/routing/service.rs
  axum/src/routing/tests/fallback.rs
  axum/src/routing/tests/nest.rs
Labels: A-axum

#1539 Add `on_failed_upgrade` callback to `WebSocketUpgrade`
  axum/CHANGELOG.md
  axum/src/extract/ws.rs
Labels: A-axum

#1537 Add `#[from_ref(skip)]`
  axum-macros/CHANGELOG.md
  axum-macros/src/attr_parsing.rs
  axum-macros/src/from_ref.rs
  axum-macros/src/lib.rs
  axum-macros/tests/from_ref/pass/skip.rs
Labels: A-axum-macros

#1535 Add example of how to test WebSockets
  examples/testing-websockets/Cargo.toml
  examples/testing-websockets/src/main.rs
Labels: T-docs

#1541 New release candidates
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#1545 axum-extra 0.4.0-rc.3
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/Cargo.toml
Labels: T-release, A-axum-extra

#1550 Add `RouterService::{layer, route_layer}`
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
  axum/src/routing/service.rs
Labels: A-axum

#1543 Improve `State` and `Router` docs
  axum/src/docs/routing/merge.md
  axum/src/docs/routing/nest.md
  axum/src/extract/state.rs
  axum/src/lib.rs
  axum/src/routing/mod.rs
Labels: T-docs, A-axum

#1552 Change `Router::with_state` and `impl Service for Router<()>`
  axum-extra/src/extract/cookie/private.rs
  axum-extra/src/extract/cookie/signed.rs
  axum-extra/src/routing/resource.rs
  axum-extra/src/routing/spa.rs
  axum-macros/src/lib.rs
  axum-macros/tests/from_ref/pass/basic.rs
  axum-macros/tests/from_request/pass/state_enum_via.rs
  axum-macros/tests/from_request/pass/state_enum_via_parts.rs
  axum-macros/tests/from_request/pass/state_explicit.rs
  axum-macros/tests/from_request/pass/state_explicit_parts.rs
  axum-macros/tests/from_request/pass/state_field_explicit.rs
  axum-macros/tests/from_request/pass/state_field_infer.rs
  axum-macros/tests/from_request/pass/state_via.rs
  axum-macros/tests/from_request/pass/state_via_infer.rs
  axum-macros/tests/from_request/pass/state_via_parts.rs
  axum-macros/tests/from_request/pass/state_with_rejection.rs
  axum/CHANGELOG.md
  axum/benches/benches.rs
  axum/src/boxed.rs
  axum/src/docs/middleware.md
  axum/src/docs/routing/into_make_service_with_connect_info.md
  axum/src/docs/routing/merge.md
  axum/src/docs/routing/nest.md
  axum/src/docs/routing/route_service.md
  axum/src/extract/state.rs
  axum/src/handler/mod.rs
  axum/src/lib.rs
  axum/src/middleware/from_fn.rs
  axum/src/middleware/map_request.rs
  axum/src/middleware/map_response.rs
  axum/src/routing/method_routing.rs
  axum/src/routing/mod.rs
  axum/src/routing/service.rs
  axum/src/routing/tests/fallback.rs
  axum/src/routing/tests/get_to_head.rs
  axum/src/routing/tests/mod.rs
  axum/src/test_helpers/mod.rs
  axum/src/test_helpers/test_client.rs
  examples/handle-head-request/src/main.rs
  examples/http-proxy/src/main.rs
  examples/key-value-store/src/main.rs
  examples/query-params-with-empty-strings/src/main.rs
  examples/rest-grpc-multiplex/src/main.rs
  examples/simple-router-wasm/src/main.rs
  examples/testing/src/main.rs
Labels: A-axum

#1570 axum 0.6 and friends 🎉
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-core/src/extract/default_body_limit.rs
  axum-core/src/extract/mod.rs
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#1580 Expand the docs for `Router::with_state`
  axum-core/src/extract/from_ref.rs
  axum/src/docs/routing/with_state.md
  axum/src/routing/mod.rs
Labels: T-docs, A-axum

#1584 Add `axum_core::body::Body`
  axum-core/src/body.rs
Labels: C-enhancement, A-axum-core

#1588 axum v0.6.1
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1589 Fix wrong `From` impl for `Resource`
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/resource.rs
Labels: A-axum-extra

#1590 axum-extra - v0.4.1
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: T-release, A-axum-extra
