Repository tokio-rs/axum, pull requests merged in 2022-04, with the labels that each got.

#899 Fix `SignedCookieJar` with custom key type
  axum-extra/CHANGELOG.md
  axum-extra/src/extract/cookie.rs
Labels: A-axum-extra

#903 Add "stream to file" example
  examples/stream-to-file/Cargo.toml
  examples/stream-to-file/src/main.rs
Labels: T-docs

#904 Add `SpaRouter`
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/lib.rs
  axum-extra/src/routing/mod.rs
  axum-extra/src/routing/spa.rs
  axum-extra/test_files/index.html
  axum-extra/test_files/index_2.html
  axum-extra/test_files/script.js
  axum/src/test_helpers/mod.rs
  axum/src/test_helpers/test_client.rs
Labels: A-axum-extra

#936 Fix trailing redirection with query parameters
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum

#927 Add `AppendHeaders`
  axum-core/CHANGELOG.md
  axum-core/src/response/append_headers.rs
  axum-core/src/response/into_response.rs
  axum-core/src/response/into_response_parts.rs
  axum-core/src/response/mod.rs
  axum/CHANGELOG.md
  axum/src/response/mod.rs
Labels: A-axum-core

#924 Allow `Error: Into<Infallible>` for `Route::{layer, route_layer}`
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
Labels: A-axum

#947 axum: Version 0.5.3
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release

#971 Replace `ByteStr` with `Arc<str>`
  axum/src/extract/path/de.rs
  axum/src/extract/path/mod.rs
  axum/src/routing/url_params.rs
  axum/src/util.rs
Labels: C-cleanup, A-axum

#966 axum-core: Version 0.2.3
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum/Cargo.toml
Labels: T-release

#949 Move private and signed cookies behind feature flags
  axum-extra/Cargo.toml
  axum-extra/src/extract/cookie/mod.rs
  axum-extra/src/extract/cookie/signed.rs
  axum-extra/src/extract/mod.rs
Labels: breaking change, A-axum-extra

#974 axum-extra: Version 0.3.0
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/Cargo.toml
Labels: T-release

#975 Implement `IntoResponse` and `IntoResponseParts` for `http::Extensions`
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-core/src/response/into_response.rs
  axum-core/src/response/into_response_parts.rs
Labels: A-axum-core

#950 Implement `IntoResponse` for `Response<()>` and `response::Parts`
  axum-core/CHANGELOG.md
  axum-core/src/response/into_response.rs
Labels: A-axum-core

#980 Implement `IntoResponse for (Parts | Request<()>, $(impl IntoResponseParts)+, impl IntoResponse)`
  axum-core/CHANGELOG.md
  axum-core/src/response/into_response.rs
  axum/src/docs/response.md
Labels: A-axum-core
