Repository tokio-rs/axum, pull requests merged in 2023-01, with the labels that each got.

#1647 Misc documentation improvements
  axum-core/Cargo.toml
  axum-core/src/ext_traits/request.rs
  axum-core/src/ext_traits/request_parts.rs
  axum/src/docs/routing/with_state.md
  axum/src/middleware/from_fn.rs
Labels: T-docs, A-axum, A-axum-core

#1641 Update to base64 0.20
  axum/Cargo.toml
Labels: S-blocked

#1688 Release axum, axum-core, and axum-macros
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-core

#1693 Support `deserialize_any` for `Path`
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/extract/path/de.rs
  axum/src/extract/path/mod.rs
Labels: A-axum

#1697 Simpify `parse-body-based-on-content-type` example
  examples/parse-body-based-on-content-type/src/main.rs
Labels: T-docs

#1712 Implement `Clone` and `Service` for `Next`
  axum/CHANGELOG.md
  axum/src/middleware/from_fn.rs
Labels: A-axum

#1715 Document required tokio features for example
  axum/CHANGELOG.md
  axum/src/lib.rs
Labels: T-docs, A-axum

#1713 Add `RawPathParams`
  axum-macros/tests/debug_handler/fail/argument_not_extractor.stderr
  axum-macros/tests/debug_handler/fail/doesnt_implement_from_request_parts.stderr
  axum-macros/tests/debug_handler/fail/wrong_return_type.stderr
  axum-macros/tests/from_request/fail/parts_extracting_body.stderr
  axum/CHANGELOG.md
  axum/src/extract/mod.rs
  axum/src/extract/path/mod.rs
  axum/src/extract/rejection.rs
Labels: A-axum

#1716 Release axum and axum-core
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-core

#1721 Release axum and axum-macros
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros
