Repository tokio-rs/axum, pull requests merged in 2023-03, with the labels that each got.

#1800 Document the fact that `debug_handler` doesn't work within impl blocks
  axum-macros/src/lib.rs
Labels: T-docs, A-axum-macros

#1692 Add `axum_extra::extract::Multipart`
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/extract/mod.rs
  axum-extra/src/extract/multipart.rs
  axum-extra/src/lib.rs
Labels: A-axum-extra

#1808 Implement `Clone` for `CookieJar`, `PrivateCookieJar` and `SignedCookieJar`
  axum-extra/CHANGELOG.md
  axum-extra/src/extract/cookie/mod.rs
  axum-extra/src/extract/cookie/private.rs
  axum-extra/src/extract/cookie/signed.rs
Labels: C-enhancement, A-axum-extra

#1807 Wording tweak in `#[debug_handler]` docs
  axum-macros/src/lib.rs
Labels: T-docs, A-axum-macros

#1806 Fix routing issues when loading a `Router` via a dynamic library
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
Labels: A-axum

#1810 Gracefully handle missing headers
  axum/CHANGELOG.md
  axum/src/typed_header.rs
Labels: A-axum

#1802 Remove remnants of spa feature
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/lib.rs
  examples/static-file-server/Cargo.toml
Labels: breaking change, A-axum-extra

#1812 Release all the crates
  axum-core/CHANGELOG.md
  axum-core/Cargo.toml
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-extra, A-axum-core

#1836 Don't require `S: Debug` for `impl Debug for Router<S>`
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
Labels: A-axum

#1835 Add workaround for inference errors after removing `B` type param
  axum/CHANGELOG.md
  axum/src/routing/mod.rs
  examples/hyper-1-0/src/main.rs
  examples/static-file-server/src/main.rs
  examples/testing/src/main.rs
Labels: A-axum

#1837 Clone state a bit less
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/routing/mod.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum

#1843 Release axum, axum-macros, and axum-extra
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-extra

#1862 Update to syn 2
  axum-core/Cargo.toml
  axum-extra/Cargo.toml
  axum-extra/src/json_lines.rs
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum-macros/src/attr_parsing.rs
  axum/Cargo.toml
  axum/src/body/stream_body.rs
  axum/src/docs/middleware.md
  axum/src/extract/multipart.rs
  axum/src/extract/raw_query.rs
  axum/src/extract/request_parts.rs
  axum/src/extract/ws.rs
  axum/src/response/sse.rs
  axum/src/routing/tests/merge.rs
  deny.toml
  examples/low-level-openssl/Cargo.toml
  examples/low-level-rustls/Cargo.toml
  examples/validator/Cargo.toml
Labels: A-axum-macros

#1873 More clearly document what wildcards matches
  axum/src/docs/routing/route.md
  axum/src/routing/tests/mod.rs
Labels: T-docs, A-axum

#1875 Release axum, axum-extra, axum-macros
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-extra

#1876 Fix a small grammatical error in the Extract docs
  axum/src/docs/extract.md
Labels: T-docs, A-axum
