Repository tokio-rs/axum, pull requests merged in 2023-02, with the labels that each got.

#1736 Document gotchas with `impl IntoResponse`
  axum/src/docs/response.md
Labels: T-docs, A-axum

#1743 Release axum and axum-macros
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros

#1744 Add `TypedPath::with_query_params`
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/lib.rs
  axum-extra/src/routing/mod.rs
  axum-extra/src/routing/typed.rs
Labels: A-axum-extra

#1730 Support passing `MethodRouter` to `Router::fallback`
  axum-macros/tests/debug_handler/fail/wrong_return_type.stderr
  axum-macros/tests/from_request/fail/generic_without_via.stderr
  axum-macros/tests/from_request/fail/generic_without_via_rejection.stderr
  axum-macros/tests/from_request/fail/override_rejection_on_enum_without_via.stderr
  axum-macros/tests/typed_path/fail/not_deserialize.stderr
  axum/CHANGELOG.md
  axum/src/routing/future.rs
  axum/src/routing/method_routing.rs
  axum/src/routing/route.rs
  axum/src/routing/tests/mod.rs
Labels: A-axum

#1696 Add `option_layer`
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/either.rs
  axum-extra/src/lib.rs
  axum-extra/src/middleware.rs
Labels: A-axum-extra

#1746 Upgrade dependencies
  axum-extra/Cargo.toml
  axum/Cargo.toml
  axum/src/extract/ws.rs
Labels: A-axum-extra

#1747 Update to cookie 0.17
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
Labels: breaking change, A-axum-extra

#1750 Release axum, axum-extra, and axum-macros
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/CHANGELOG.md
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum, A-axum-macros, A-axum-extra

#1767 Add `MockConnectInfo`
  axum/CHANGELOG.md
  axum/src/extract/connect_info.rs
  examples/testing/src/main.rs
Labels: C-enhancement, A-axum

#1768 axum 0.6.7
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1773 Fix missing `Allow` when middleware are applied to `MethodRouter`
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/routing/method_routing.rs
  axum/src/routing/route.rs
Labels: A-axum

#1759 Add shared mutable state documentation
  axum/src/extract/state.rs
Labels: T-docs, A-axum

#1729 Add `KeepAlive::event`
  axum/CHANGELOG.md
  axum/src/response/sse.rs
Labels: A-axum

#1782 Release axum
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: T-release, A-axum

#1763 Rename `ProtoBuf` to `Protobuf`
  axum-extra/CHANGELOG.md
  axum-extra/src/lib.rs
  axum-extra/src/protobuf.rs
Labels: breaking change, A-axum-extra

#1783 Update to tower-http 0.4
  axum-core/Cargo.toml
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-extra/src/routing/spa.rs
  axum/CHANGELOG.md
  axum/Cargo.toml
  axum/src/docs/method_routing/route_layer.md
  axum/src/docs/routing/route_layer.md
  axum/src/docs/routing/route_service.md
  axum/src/routing/method_routing.rs
  axum/src/routing/tests/merge.rs
  axum/src/routing/tests/mod.rs
  axum/src/routing/tests/nest.rs
  examples/consume-body-in-extractor-or-middleware/Cargo.toml
  examples/cors/Cargo.toml
  examples/key-value-store/Cargo.toml
  examples/key-value-store/src/main.rs
  examples/multipart-form/Cargo.toml
  examples/sse/Cargo.toml
  examples/sse/src/main.rs
  examples/static-file-server/Cargo.toml
  examples/static-file-server/src/main.rs
  examples/testing/Cargo.toml
  examples/todos/Cargo.toml
  examples/tracing-aka-logging/Cargo.toml
  examples/websockets/Cargo.toml
  examples/websockets/src/client.rs
  examples/websockets/src/main.rs
Labels: breaking change, A-axum, A-axum-extra

#1784 Remove `SpaRouter`
  axum-extra/CHANGELOG.md
  axum-extra/src/routing/mod.rs
  axum-extra/src/routing/spa.rs
  examples/static-file-server/src/main.rs
Labels: breaking change, A-axum-extra

#1790 Use `JsonRejection::{status, body_text}` in customize extractor error example
  examples/customize-extractor-error/src/custom_extractor.rs
  examples/customize-extractor-error/src/derive_from_request.rs
  examples/customize-extractor-error/src/with_rejection.rs
Labels: T-docs

#1791 Add example showing how to run axum on hyper 1.0
  examples/hyper-1-0/Cargo.toml
  examples/hyper-1-0/src/main.rs
Labels: T-docs

#1788 Release axum and axum-extra
  axum-extra/CHANGELOG.md
  axum-extra/Cargo.toml
  axum-macros/Cargo.toml
  axum/CHANGELOG.md
  axum/Cargo.toml
Labels: A-axum, A-axum-extra
